<settings>
    <setting propertyKey="@Properties.ThemeColor" title="@Strings.ThemeColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ThemeRed</listEntry>
            <listEntry value="2">@Strings.ThemeTeal</listEntry>
            <listEntry value="3">@Strings.ThemeOrange</listEntry>
            <listEntry value="4">@Strings.ThemeGreen</listEntry>
            <listEntry value="5">@Strings.ThemeGold</listEntry>
            <listEntry value="6">@Strings.ThemeWhite</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot1Metric" title="@Strings.Slot1Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="10">@Strings.MetricDigitalTime</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot2Metric" title="@Strings.Slot2Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="10">@Strings.MetricDigitalTime</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot3Metric" title="@Strings.Slot3Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="10">@Strings.MetricDigitalTime</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot4Metric" title="@Strings.Slot4Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="10">@Strings.MetricDigitalTime</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot5Metric" title="@Strings.Slot5Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="10">@Strings.MetricDigitalTime</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
        </settingConfig>
    </setting>
</settings>