<settings>
    <setting propertyKey="@Properties.ThemeColor" title="@Strings.ThemeColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ThemeRed</listEntry>
            <listEntry value="2">@Strings.ThemeTeal</listEntry>
            <listEntry value="3">@Strings.ThemeOrange</listEntry>
            <listEntry value="4">@Strings.ThemeGreen</listEntry>
            <listEntry value="5">@Strings.ThemeGold</listEntry>
            <listEntry value="6">@Strings.ThemeWhite</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.TemperatureUnit" title="@Strings.TemperatureUnitTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.TempUnitCelsius</listEntry>
            <listEntry value="1">@Strings.TempUnitFahrenheit</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.WeatherDisplayMode" title="@Strings.WeatherDisplayModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WeatherModeAuto</listEntry>
            <listEntry value="1">@Strings.WeatherModePrecip</listEntry>
            <listEntry value="2">@Strings.WeatherModeTemp</listEntry>
            <listEntry value="3">@Strings.WeatherModeHumidity</listEntry>
            <listEntry value="4">@Strings.WeatherModeWind</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.TimeFormat" title="@Strings.TimeFormatTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.TimeFormat24</listEntry>
            <listEntry value="1">@Strings.TimeFormat12</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.NightMode" title="@Strings.NightModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.NightOff</listEntry>
            <listEntry value="1">@Strings.NightAuto</listEntry>
            <listEntry value="2">@Strings.NightScheduled</listEntry>
            <listEntry value="3">@Strings.NightAlwaysOn</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.NightModeColor" title="@Strings.NightColorTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.NightColorRed</listEntry>
            <listEntry value="1">@Strings.NightColorAmber</listEntry>
            <listEntry value="2">@Strings.NightColorGreen</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.NightStartHour" title="@Strings.NightStartTitle">
        <settingConfig type="numeric" min="0" max="23" />
    </setting>
    <setting propertyKey="@Properties.NightEndHour" title="@Strings.NightEndTitle">
        <settingConfig type="numeric" min="0" max="23" />
    </setting>
    <setting propertyKey="@Properties.AODMode" title="@Strings.AODModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.AODMinimalist</listEntry>
            <listEntry value="1">@Strings.AODFull</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot1Metric" title="@Strings.Slot1Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
            <listEntry value="14">@Strings.MetricWeatherTemp</listEntry>
            <listEntry value="15">@Strings.MetricWeatherCondition</listEntry>
            <listEntry value="16">@Strings.MetricSunTimes</listEntry>
            <listEntry value="17">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="18">@Strings.MetricSunrise</listEntry>
            <listEntry value="19">@Strings.MetricSunset</listEntry>
            <listEntry value="20">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="21">@Strings.MetricVo2Max</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot2Metric" title="@Strings.Slot2Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
            <listEntry value="14">@Strings.MetricWeatherTemp</listEntry>
            <listEntry value="15">@Strings.MetricWeatherCondition</listEntry>
            <listEntry value="16">@Strings.MetricSunTimes</listEntry>
            <listEntry value="17">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="18">@Strings.MetricSunrise</listEntry>
            <listEntry value="19">@Strings.MetricSunset</listEntry>
            <listEntry value="20">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="21">@Strings.MetricVo2Max</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot3Metric" title="@Strings.Slot3Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
            <listEntry value="14">@Strings.MetricWeatherTemp</listEntry>
            <listEntry value="15">@Strings.MetricWeatherCondition</listEntry>
            <listEntry value="16">@Strings.MetricSunTimes</listEntry>
            <listEntry value="17">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="18">@Strings.MetricSunrise</listEntry>
            <listEntry value="19">@Strings.MetricSunset</listEntry>
            <listEntry value="20">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="21">@Strings.MetricVo2Max</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot4Metric" title="@Strings.Slot4Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
            <listEntry value="14">@Strings.MetricWeatherTemp</listEntry>
            <listEntry value="15">@Strings.MetricWeatherCondition</listEntry>
            <listEntry value="16">@Strings.MetricSunTimes</listEntry>
            <listEntry value="17">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="18">@Strings.MetricSunrise</listEntry>
            <listEntry value="19">@Strings.MetricSunset</listEntry>
            <listEntry value="20">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="21">@Strings.MetricVo2Max</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot5Metric" title="@Strings.Slot5Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
            <listEntry value="14">@Strings.MetricWeatherTemp</listEntry>
            <listEntry value="15">@Strings.MetricWeatherCondition</listEntry>
            <listEntry value="16">@Strings.MetricSunTimes</listEntry>
            <listEntry value="17">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="18">@Strings.MetricSunrise</listEntry>
            <listEntry value="19">@Strings.MetricSunset</listEntry>
            <listEntry value="20">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="21">@Strings.MetricVo2Max</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.Slot6Metric" title="@Strings.Slot6Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="1">@Strings.MetricBattery</listEntry>
            <listEntry value="2">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="4">@Strings.MetricStepGoal</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="6">@Strings.MetricDistance</listEntry>
            <listEntry value="7">@Strings.MetricFloors</listEntry>
            <listEntry value="8">@Strings.MetricActiveMinutes</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="11">@Strings.MetricNotifications</listEntry>
            <listEntry value="12">@Strings.MetricAltitude</listEntry>
            <listEntry value="13">@Strings.MetricBarometer</listEntry>
            <listEntry value="14">@Strings.MetricWeatherTemp</listEntry>
            <listEntry value="15">@Strings.MetricWeatherCondition</listEntry>
            <listEntry value="16">@Strings.MetricSunTimes</listEntry>
            <listEntry value="17">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="18">@Strings.MetricSunrise</listEntry>
            <listEntry value="19">@Strings.MetricSunset</listEntry>
            <listEntry value="20">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="21">@Strings.MetricVo2Max</listEntry>
        </settingConfig>
    </setting>
</settings>
